* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  padding-bottom: 100px;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  font: 300 60px "Oswald", sans-serif;
}

p {
  font-family: "Georgia", serif;
  font-size: 18px;
  padding: 10px;
  margin: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
nav a:hover {
  color: #1bf7de;
}

input {
  width: 398px;
  height: 40px;
  margin-bottom: 1px;
}

textarea {
  width: 389px;
}

.href-a {
  padding: 8px 24px;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: black;
  border-radius: 10px;
  margin: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img-brand {
  /* display: flex;
  align-items: center; */
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin-top: -10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.button-menu-toggle {
  display: none;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.contact-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.column {
  flex: 1;
  padding: 10px;
}

.image-container {
  display: flex;
}

.image-about {
  margin-left: 50px;
  width: 200px;
  height: 200px;
}

.video-container {
  max-width: 600px;
  max-height: 400px;
  margin-left: 100px;
}

.container-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

.services {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  padding: 50px;
  background-color: yellow;
  text-align: center;
}

.services:hover {
  cursor: pointer;
}

/* Begin contact form */

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 800px;
  margin-right: 100px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
  margin-top: 25px;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 30px;
  height: 40px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 18px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 5px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

.fa-paper-plane {
  margin-top: 10px;
}

.submit {
  background-color: #000;
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #bbb;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #bbb;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Finish contact form */

/* Begin Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 160px;
  background-color: #000;
  color: #fff;
  margin-top: 100px;
}

.footer-content .h2-footer {
  font-size: 2em;
  text-align: center;
}

.footer-content .h5-footer,
.social-networks .i-footer {
  font-size: 0.9em;
  text-align: center;
}

.h5-footer {
  margin-top: 10px;
}

.social-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.social-networks .i-footer {
  color: #fff;
  text-decoration: none;
}

/* End Footer */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }

  .video-container {
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  header {
    background-color: #333;
  }

  nav {
    font-size: 16px;
  }

  .video-container {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }

  .nav-links {
    display: none;
  }

  .button-menu-toggle {
    display: block;
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20, 20, 20, 0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 70px;
    font-size: 40px;
  }

  .video-container {
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {
  header {
    width: 1200px;
  }
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

  .video-container {
    margin-left: 0px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }

  .video-container {
    margin-left: 0px;
  }
}
